/* bg-colors */
.my_color-navy {
    background-color: #2C3E50;
}

.my_color-lightnavy {
    background-color: #3A546D;
}

.my_color-green {
    background-color: #1ABC9C;
}

/* text colors */
.my_text-navy {
    color: #2C3E50;
}

.my_text-green {
    color: #1ABC9C;
}

/* colore del testo placeholder del form */
.form-control::placeholder {
    color: #2C3E50;
    opacity: 1;
}

/* button perfettamente rotondi */
.btn-circle {
    width: 40px;
    height: 40px;
}